html,body
{
	margin:0;
	padding:0;
	border:0;
}

body
{
    background: #ccc
}

#stanga,#dreapta
{
 
    position: fixed;
    width: 350px;
    height: 500px;
    top: 0;
    border-style: solid;
    border-color: white;

}

#stanga
{
   background-color:yellow;
   left:0; 
}

#dreapta
{
   background-color:pink;
   right:0;
}

#container
{
    background: #ccc;
    width: 30%;
    margin: 0 auto;
    position: relative
}
